body {
  background-color: #000;
 }
a.btn_03 {
	display: block;
	text-align: center;
	vertical-align: smoll;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid ;
	color: #00c936;
	border-radius: 100vh;
	transition: 0.5s;
}
a.btn_03:hover {
	color: #00c936;
	background: red;
}
a.btn_04 {
	display: block;
	text-align: center;
	vertical-align: smoll;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid red;
	color: #00c936;
	border-radius: 100vh;
	transition: 0.5s;
}
a.btn_04:hover {
	color: #00c936;
	background: #5805ff;
}a.btn_05 {
	display: block;
	text-align: center;
	vertical-align: smoll;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid red;
	color: #00c936;
	border-radius: 100vh;
	transition: 0.5s;
}
a.btn_05:hover {
	color: #00c936;
	background: red;
}
